.leaflet-legend {
    background: #FFF;
    border: 2px solid #FFF;
    padding: 6px;
    max-height: 250px; /* TODO */
    overflow-y: auto;
    font-size: 1.2em;
}

.leaflet-legend h4 {
    margin: 0 0 4px 0;
}

.leaflet-legend img {
    margin-right: 6px;
    display: inline;
    vertical-align: middle;
}

.leaflet-legend label {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}

.legend-block {
    margin-right: 7px;
    width: 100%;
}
.legend-block + .legend-block {
    margin-top: 8px;
    border-top: 1px solid #EEE;
    padding-top: 4px;
}

.legend-row {
    line-height: 1;
}

.legend-row + .legend-row {
    margin-top: 4px;
}

.legend-stretched .legend-row + .legend-row {
    margin-top: 0;
}

/* force OSX to show a scrollbar */
.leaflet-legend::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.leaflet-legend::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.leaflet-legend::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.7);
}